<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add/parking/details" method="POST">

    <!-- <form> -->
        <label for="parking_number">Parking Number</label><br>
        <input type="text" id="parking_number" name="parking_number"><br>

        <label for="parking_name">Parking Name:</label><br>
        <input type="text" id="parking_name" name="parking_name"><br>

        <label for="parking_level">Parking Level:</label><br>
        <input type="text" id="parking_level" name="parking_level"><br>

        <label for="free_space">Free Space:</label><br>
        <input type="text" id="free_space" name="free_space"><br>

        <label for="vehicle_number">Vehicle Number:</label><br>
        <input type="text" id="vehicle_number" name="vehicle_number"><br>

        <label for="parking_days">Parking Days:</label><br>
        <input type="text" id="parking_days" name="parking_days"><br>   

        <input type="submit" value="Submit">
      </form>
</body>
</html>