<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add/vehicle/detail" method="POST">

        <!-- <form> -->
            <label for="vehicle_no">Vehicle Number</label><br>
            <input type="text" id="vehicle_no" name="vehicle_no"><br>
    
            <label for="vehicle_name">Vehicle Name:</label><br>
            <input type="text" id="vehicle_name" name="vehicle_name"><br>
    
            <label for="date_of_purchase">Date Of Purchase:</label><br>
            <input type="text" id="date_of_purchase" name="date_of_purchase"><br>

            <input type="submit" value="Submit">
          </form>
</body>
</html>